@charset "UTF-8"; 


/*Mobile L 425px*/
@media screen and (min-width: 400px) and (max-width: 425px){
    div#interface, div.largura-conteiner-cabecalho, div.largura-conteiner-top, div.rodape-conteiner, div.conteiner-main, div.conteiner, article.desc-produtos, table.tabela-ficha{
        min-width: 320px;
        max-width: 425px;
    }
    article.desc-produtos ul{  
        display: grid;
        grid-template-areas: "li";
        width: 86%;
        margin: 0 auto;
        list-style: none;
    }
    div.categoria-titulo, div.tabela, form.faleconosco{
        width: 350px;
    }
    input, textarea{
        width: 355px;
    }
    label{
        text-align: left;
    }
    .button{
        margin-left: 255px;
    }
    div.categoria-titulo{
        margin-top: 60px;
    }
    div.centralizar{
        width: 86%;
        margin: 0 auto;
        padding-top: 30px;
    }
    article.desc-produtos{
        padding-bottom: 200px;
    }
    div.desc-produto{
        width: 350px;
        height: 465px;
    }
    div.desc-produto span.sinopse{
        margin-left: 4px;
    }
    div.desc-produto img{
        width: 200px;
        margin-left: 20%;
        margin-top: 20px;
    }
    div.pagamento{
        margin: 10px 0px 0px 0px;
        width: 350px;
        height: 165px;
    }
    div.preco span{
        float: left;
        margin-right: 220px;
        margin-left: 5px;
        margin-top: 5px;
    }
    div.preco p{
        margin-bottom: 2px;
    }
    div.preco a{
        margin-left: -70px;
    } 
    div.pagamento .preco{
        margin-bottom: 20px;
    }
    div.botao-comprar{
        position: relative;
        margin-top: 9%;
        margin-right: 2%;
    }
    div.botao-comprar a{
        padding: 20px 40px 20px 40px;
    }
    div.categoria-titulo{
        margin-top: 30px;
    } 
    div.trailer iframe{
        width: 350px; 
        height: 215px;
    }
    form.buscar{
        position: relative;
        margin: 0px 0px 10px -155px;
    }
    #divBusca{
        width: 350px;
    }
    #txtBusca{
        width: 300px;
    }
    aside.categorias{
        display: none;
    }
    div.conta{
        top: 55%;
        left: 51%;
    }
    .service-cms{
        width: 100%;
        padding: 0 0 80px 0;
    }
    .service-cms .service{
        width: 33%; 
    }
    .service-heading > a {
        font-size: 10px;
        width: 20%;
    }
    .service-sub-heading > a {
        font-size: 10px; 
    }
    .service-cms .icon{
        padding: 0 0 0 30px;
    }
    .service-cms .service .icon-1.icon{
        padding: 10px 0px 0px 47px
    }
    .service-cms .service .icon-2.icon{
        padding: 10px 0px 0px 40px
    }
    .service-cms .service .icon-3.icon{
        padding: 10px 0px 0px 52px
    }
    div.content{
        width: 345px;
        font-size: 10px;
    }
    label.promocao{
        width: 280px; 
    }
    label.promocao1{
        width: 280px; 
    }
    p.link{
        width: 285px;
    }
    /*banner*/
    .left img{
        margin-top: 76%;
    }
    .right img{
        margin-top: 89%;
    }
    .left, .right{
        margin-bottom: 20px;
        height: 80px;
    } 
}